################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApiBlogging/v15
/.vs
/WebApiBlogging/bin/Debug/netcoreapp2.1
/WebApiBlogging/obj
